<div class="center jumbotron">
  <h1>Time to Register</h1>

  <h2>
    Sign up or sign in to view/edit sections.
  </h2>

  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>

